<!--File Name: Contact.ejs
    Name: Junaid Saad Ahmed
    Student Id: 301213252
    Course: COMP-229 Sec.004-->


    <%- include('partials/header.ejs') %>
    
    <%- include('partials/main_nav.ejs') %>

      <br>
        <!--Main Content-->
  <main class="container">
    <div class="bg-light p-5 rounded">
      <h1>Welcome to <%= title %> page</h1>
      <p class="lead"> Welcome to my little world where I am trying to build a website of my own.</p>
      <a class="btn btn-lg btn-primary" href="/about" role="button">About Me &raquo;</a>
    </div>
  </main>
     <br>

  <!--Map-->
     <section class="location">

        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d23031.15454512504!2d-79.48102008455706!3d43.816551463409425!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b2c223919b41b%3A0x5bceaa39f3ba52d5!2sBeverley%20Glen%2C%20Vaughan%2C%20ON!5e0!3m2!1sen!2sca!4v1650933876113!5m2!1sen!2sca" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
       
    </section>
        <br>
  <fieldset>

    <div class="contact-col">

        <form>
            <label for="fname">First Name:</label>
            <input type="text"  id="fname" name="firstname" placeholder="Enter your first name...">
            <br><br>
            <label for="lname">Last Name:</label>
            <input type="text" id="lname" name="lastname" placeholder="Enter your last name...">
            <br><br>
            <label for="email">Email ID:</label>
            <input type="text" id="email" name="Email" placeholder="abcd@gmail.com">
            <br><br>
            <label for="number">Phone Number: </label>
            <input type="text" id="number" name="phone number" placeholder="+1 (000) 123-456" maxlength="16">
            <br><br>
            <label for="country">Country:</label>
            <select id="country" name="country">
              <option value="saudi arabia">Saudi Arabia</option>
              <option value="canada">Canada</option>
              <option value="usa">USA</option>
              <option value="australia">Australia</option>
              <option value="england">England</option>
              <option value="india">India</option>
            </select><br><br>

            <button type="submit" class="hero-btn red-btn">Submit</button><br><br>
        </form>
        


     </div><br>
  </fieldset>
  <br>
    
            <%- include('partials/bottom_nav.ejs') %>
    
            <%- include('partials/footer.ejs') %>