<!--File Name: Project.ejs
    Name: Junaid Saad Ahmed
    Student Id: 301213252
    Course: COMP-229 Sec.004-->


 
        <%- include('partials/header.ejs') %>
    
        <%- include('partials/main_nav.ejs') %>
      <br>
        <!--Main Content-->
  <main class="container">
    <div class="bg-light p-5 rounded">
      <h1>Welcome to <%= title %> page</h1>
      <p class="lead"> Welcome to my little world where I am trying to build a website of my own.</p>
      <a class="btn btn-lg btn-primary" href="/about" role="button">About Me &raquo;</a>
    </div>
  </main>
    
    <br>
    </div id = "projectPara">
    <p class="parPro">In this project, I built a website for a realtor where I listed all the listings which are under him. I made a 
    navigation bar wherein there were seven links. One of them for rent, buy, contact, offices, developments. 
    The languages used for building this website are HTML5 and CSS3.</p> 
    <center><img src="/images/Projects-2.jpg" width="500" height="280"><br><br></center>
    <p class="parPro">The second project was a javascript based project where we built a photo gallery of few images which were flexible
    to slide and add them to favourites which will display below</p>
    <center><img src="/images/Projects-3.png" width="500" height="280"><br><br></center>
    <p class="parPro">The third project was about entering the number of rows and columns and then the output would show draw the assigned 
    rows and columns. This project was based on JavaScript, HTML5, and CSS3.</p>
    <center><img src="/images/Projects-4.png" width="500" height="280"><br></center>
    <p class="parPro">This project was based on BMR calculator where all the operations are done in backend and it is user interactive. The user can enter the 
    age, height, weight and gender. Here, JavaScript, HTML5, and CSS3 were used.</p>
    
    
    
      
        <%- include('partials/bottom_nav.ejs') %>
    
        <%- include('partials/footer.ejs') %>