<!--File Name: Services.ejs
    Name: Junaid Saad Ahmed
    Student Id: 301213252
    Course: COMP-229 Sec.004-->


    <%- include('partials/header.ejs') %>
    
        <%- include('partials/main_nav.ejs') %>
      <br>
        <!--Main Content-->
  <main class="container">
    <div class="container-1 p-5 rounded">
      <h1>Welcome to <%= title %> page</h1>
      <p class="lead"> Welcome to my little world where I am trying to build a website of my own.</p>
      <a class="btn btn-lg btn-primary" href="/about" role="button">About Me &raquo;</a>
    </div>
  </main>
     
        
  <br>
  <center><img src = "/images/servicesPhoto.jpg" width="400px" height="400px"></center><br>
  <div id = "service">
  <p>There are many services that I can offer with the help of my skills in Software Engineering:</p>
  <ul>
  <li>Software Developer. I can offer service in this field becaue I have a lot of experience in C#, Java, javaScript and python.</li>
  <li>Web Designer. I can design various websites because I think that I have a good understanding of the colors.</li>
  <li>Database Developer. I can also help with managing complex datas as I have previous experience in the related field.</li>
  <li>Software Tester. I can help solve the bugs. Though they are little complex but I enjoy solving those problems.</li>
  </ul></div>
  
    
    
            <%- include('partials/bottom_nav.ejs') %>
    
            <%- include('partials/footer.ejs') %>